@import url('null.css');
@import '_colors.scss';
@import 'components.scss';


@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,700,800);

body{
    font-family: "Plus Jakarta Sans";
    font-size: 1rem;
    color: $desc;
   
}

[class*="__container"]{
    max-width: 75rem + 1.875rem;
    padding: 0 .9375rem;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    overflow: clip; //hide everything outside

    & > main{
        flex-grow: 1;
    }
}



.header {
    padding-top: 77px;
    z-index: 50;
    // position: sticky;
    // top: 0;

    @media (max-width: 29.9988rem) {// 479.9808px
        &{
            padding-top: .9375rem;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        column-gap: 7.8125rem;

        @media (max-width: 61.9988rem) {//991.98
            &{
                gap: 3.125rem;
            }
        }

        @media (max-width: 29.9988rem) {// 479.9808px
            &{
                flex-direction: column;
                align-items: center;
            }
        }
    }
    &__logo {
        flex: 0 0 5rem;

        & img{
            max-width: 100%;
            min-height: 100%;
        }

        @media (max-width: 29.9988rem) {// 479.9808px
            &{
                flex: 0 0 auto;
                max-width: 9.375rem;
            }
        }
        
    }
    &__menu {
    }
}

.menu {
    &__list {
        display: flex;
        gap: 2.5rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 2.5rem;
        row-gap: .3125rem;

        @media (max-width: 61.9988rem) {//991.98
            &{
                column-gap: 1.25rem;
            }
        }
    }
    &__item {
    }
    &__link {
        font-size: .875rem;
        color: $linkUnactive;
        transition: color 0.3s;

        &:hover{
            color: $linkActive;
        }

        @media (max-width: 29.9988rem) {// 479.9808px
            &{
                font-size: 1.25rem;
                font-weight: 700;
            }
        }
    }
}



.page {
    &__hero {
        margin-bottom: 10.625rem;

        @media (max-width: 75rem){
            &{
                margin-bottom: 6.25rem;
            }
        }

        @media (max-width: 61.9988rem){
            &{
                margin-bottom: 3.75rem;
            }
        }
        @media (max-width: 47.9988rem){
            &{
                margin-bottom: 2.5rem;
            }
        }
    
    }

    &__features{
        margin-bottom: 12.5rem;
    
        @media (max-width: 75rem){
            &{
                margin-bottom: 6.25rem;
            }
        }
    
        @media (max-width: 61.9988rem){
            &{
                margin-bottom: 3.75rem;
            }
        }
        @media (max-width: 47.9988rem){
            &{
                margin-bottom: 2.5rem;
            }
        }
    }

    &__services{
        margin-bottom: 12.5rem;
    
        @media (max-width: 75rem){
            &{
                margin-bottom: 6.25rem;
            }
        }
    
        @media (max-width: 61.9988rem){
            &{
                margin-bottom: 3.75rem;
            }
        }
        @media (max-width: 47.9988rem){
            &{
                margin-bottom: 2.5rem;
            }
        }
    }

    
    &__reviews {
        margin-bottom: 12.5rem;
    
        @media (max-width: 75rem){
            &{
                margin-bottom: 6.25rem;
            }
        }
    
        @media (max-width: 61.9988rem){
            &{
                margin-bottom: 3.75rem;
            }
        }
        @media (max-width: 47.9988rem){
            &{
                margin-bottom: 2.5rem;
            }
        }
    }
    &__location {
        margin-bottom: 12.5rem;
    
        @media (max-width: 75rem){
            &{
                margin-bottom: 6.25rem;
            }
        }
    
        @media (max-width: 61.9988rem){
            &{
                margin-bottom: 3.75rem;
            }
        }
        @media (max-width: 47.9988rem){
            &{
                margin-bottom: 2.5rem;
            }
        }
    }


}



.hero {
    padding-top: 3.875rem;
    padding-bottom: 2.5rem;
    position: relative;
    
    &__container {
        display: flex;


        @media (max-width:75rem) {
            &{
                flex-direction: column;
                row-gap: 1.875rem;
            }
        
        }
        

        &::before,
        &::after{
            content: "";
            position: absolute;
           
            bottom:0;
            height: 150%;
            width: 200vw;
            border-radius: 1.25rem;
           
            transform-origin: left bottom;
            background-color: $primary;
            box-shadow: 0px 30px 60px rgba(71, 74, 87, 0.25);
        }

        &::before{
            left: calc(50% + 20px);
            transform: skewX(-20deg);
        }

        &::after{
            left: calc(50% + 444px);
            transform: skewX(34deg);
        }
    }

    &__content {
        padding-right: 0;

        flex:0 1 50%;
        
        
        
    }
    &__images {
        position: relative;
        z-index: 2;
        flex:0 1 50%;
        
    }
}



.content-hero {

    z-index: 3;
    display: grid;
    align-content: start;
    gap: 1.875rem;
    position: relative;

    @media (min-width: 478.9808px) {//478.9808px
        &{
            justify-items: start;
        }
    }

    @media (min-width:75rem) { //1200px
        &{
            padding-right: 1.875rem;
        }
    }

    &__title {
        color: $heading;
        font-size: 4.75rem;
        font-weight: 800;
        line-height: 117.105263%; /* 89/76 */
        letter-spacing: -0.1875rem;

        @media (max-width: 61.9988rem) {
            &{
                font-size: 3.4375rem;
            }
        }

        @media (max-width: 29.9988rem) {
            &{
                font-size: 2.625rem;
            }
        }

        & a{
            color: $primary;
            transition: all 0.3;
            text-shadow: 1px 1px 8px $white;
            
            &:hover{
                text-decoration: underline;
            }
        }

        
    }
    &__text {
        & p{
            line-height: 187.5%; /* 30/16 */

            &:not(:last-child){
                padding-bottom: 2.125rem;
            }
        }
    }
    &__btn {
        display: inline-block;
        padding: 1.125rem 3.375rem;
        background-color: $primary;
        color: $white;
        font-weight: 700;
       
        text-align: center;
        border-radius: .625rem;

        position: relative;
        top: 0;
        transition: all 0.3s;

        &:hover{
            top: 3px;
            box-shadow: 0px 30px 60px 0px rgba(68, 117, 242, 0.5);
        }
    }
}



.images-hero {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 1.6875rem;


    @media (max-width:75rem) {
       
        &{
            align-self: center;
        }
    
    }


    &__item {
        
    }
   
    &__image {
        border-radius: .625rem;
        overflow: hidden;
        box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
        max-width: 100%;
    }
    &__item--01 {
        grid-row: span 2;
        align-self: flex-end;
        padding-bottom: .625rem;
    }
    &__item--02 {
        align-self: flex-start;
       
    }
    &__item--03 {
        grid-row: span 2;
        align-self: center;
        justify-self: flex-end;
        padding-bottom: 1.5625rem;
    }
    &__item--04 {
        align-self: flex-end;
        justify-self: flex-end;
    }
}




//////////FEATURES////////////////
/// 


.features {
   
   

    &__container {
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1.25rem;

        @media (max-width: 61.9375rem) {
            justify-content: center;
        }

    }
    &__item {
        flex: 0 1 17.5rem;
        text-align: center;
        display: grid;
        gap: 1.25rem;
        justify-items: center;

   
        @media (max-width: 38.125rem) {
            flex-grow: 1;
        }
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.25rem;
        background-color: $primary;
        height: 6.25rem;
        width: 6.25rem;

        box-shadow: 0rem 1.875rem 3.75rem 0rem rgba(71, 74, 87, 0.25);

    }
    &__title {
        color: $black;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: .03rem;
    }
    &__text {
        font-weight: 500;
        line-height: 187.5%; /* 30/16 */
        letter-spacing: .02rem;
    }
    
}


///////////SERVICES
/// 

.services {
    &__container {
    }
    &__items {
        display: grid;
        gap: 8.75rem;

        @media (max-width: 75rem){ //1200px
            gap: 6.25rem;
        }

        @media (max-width: 61.9988rem){ //991.9808px
            gap: 4.375rem;
        }

        @media (max-width: 47.9988rem){ //767.9808px)
            gap: 2.5rem;
        }
    }
    &__item {
        display: flex;
        flex-wrap: wrap;
       
        gap: 1.875rem;

        @media (min-width: 48rem){ //767.9808px
            &:nth-child(odd){
                flex-direction: row-reverse;
    
                & .services__body{
                    margin: 0 0 0 auto;
                }
            }

            &{
                align-items: flex-start;
            }
        }

        @media (max-width: 47.9988rem){ //767.9808px
            
            flex-direction: column; 
           
        }
    }
    &__content {
        flex: 1 1 15.625rem;
    }

    &__body {
        @media (min-width: 48rem){ //767.9808px
            max-width: 26.25rem;
        }

        

    }
    &__title {
        color: $black;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: .04rem;

        &:not(:last-child){
            margin-bottom: 2.5rem;
        }

        & span{
            color: $primary;
        }

        @media (max-width: 47.9988rem){ //767.9808px
            font-size: 1.75rem;
            &:not(:last-child){
                margin-bottom: 1.25rem;
            }
        }
    }
    &__text {
        & p{
            font-weight: 500;
            line-height: 187.5%; /* 30px/16 */
            letter-spacing: .02rem;

            &:not(:last-child){
                margin-bottom: .9375rem;
            }

        }
       
    }
    &__image {
        @media (min-width: 48rem){ //767.9808px
            flex: 1 1 15.625rem;
        }
        

        @media (max-width: 47.9988rem){ //767.9808px
            text-align: center;
        }
       
    }

    &__picture{
        border-radius: .625rem;
        box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
        max-width: 100%;

    }
}


.reviews {

    &__container {
    }
    
    &__body {
    }
    &__items {
        display: flex;
        gap: 3.125rem;
        flex-wrap: wrap;
    }
    &__item {
       
        flex: 1 1 17.5rem;
        border: .0625rem solid var(--Border, #DEDEDE);

        box-shadow: 0rem 6.25rem 5rem 0rem rgba(0, 0, 0, 0.07), 0rem 2.6111rem 2.0889rem 0rem rgba(0, 0, 0, 0.05), 0rem 1.396rem 1.1168rem 0rem rgba(0, 0, 0, 0.04), 0rem .7826rem .6261rem 0rem rgba(0, 0, 0, 0.04), 0rem .4156rem .3325rem 0rem rgba(0, 0, 0, 0.03), 0rem .1729rem .1384rem 0rem rgba(0, 0, 0, 0.02);

        padding: 2.8125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & > *{
            margin-bottom: .9375rem;

            &:last-child{
                margin-bottom: 0;
            }
        }


    }
    &__link-avatar {
        overflow: hidden;
        margin-bottom: 1.875rem;
        & img{
            border-radius: 9.3125rem;
            border: .0625rem solid var(--muted-color, #BDBDBD);
        
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }
    &__text {
        flex-grow: 1;
        & p{
            margin-bottom: 1.5625rem;
            font-weight: 500;
            line-height: 187.5%; /* 30/16 */
            letter-spacing: .0125rem;

            &:not(:last-child){
                margin-bottom: .625rem;
            }

        }
    
    }
    &__title {
    }
    &__link-title {
        color: #23A6F0;    
        font-weight: 500;
        line-height: 187.5%; /* 1.875rem/16 */
        letter-spacing: .0125rem;

        &:hover{
            text-decoration: underline;
        }
    }
    &__position {
        color: $heading;

        font-weight: 500;
        line-height: 187.5%; /* 1.875rem/16 */
        letter-spacing: .0125rem;
    }
}



.location {
    &__container {
    }
    &__map {
        width: 100%;
        height: 25.3125rem;
        box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
    }
}


.footer {
    &__body{
        margin-bottom: 6rem;
      
        
        @media (max-width: 75rem){
            &{
                margin-bottom: 4.375rem;
            }
        }
    
        @media (max-width: 61.9988rem){
            &{
                margin-bottom: 3.125rem;
            }
        }
        @media (max-width: 47.9988rem){
            &{
                margin-bottom: 1.875rem;
            }
        
        }

    }

    
    &__copy{
        background-color: $primary;
        text-align: center;
        padding: 50px .9375rem;
        color: $white;
        font-weight: 700;
        font-size: .875rem;

    }
    &__container {
        display: flex;
        column-gap: 6.25rem;
        row-gap: 1.875rem;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        flex-grow: 1;
        color: $black;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1.5625rem;
    }
    &__logo {
        max-width: 15.5rem;
    }
    &__social {
        display: flex;
        flex-wrap: wrap;
        gap: 1.0625rem;
        height: 5.8125rem;
        align-items: center;

    }

    &__link {
        color: $black;
        font-size: 1.25rem;
        font-weight: 500;
        height: 5.8125rem;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            text-decoration: underline;

        }
    }

}

.social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .625rem;
    
    .social__item {
        &:hover{
            color: $primary;
        }
    }
}





/*


@media (max-width: 1200px){ //1200px

        }

@media (max-width: 991.9808px){ //991.9808px

}

@media (max-width: 767.9808px){ //767.9808px)

}


*/