@import url('null.css');
@import '_colors.scss';
@import 'components.scss';


@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,700,800);

body{
    font-family: "Plus Jakarta Sans";
    font-size: 1rem;
    color: $desc;
   
}

[class*="__container"]{
    max-width: 75rem + 1.875rem;
    padding: 0 .9375rem;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    overflow: clip; //hide everything outside

    & > main{
        flex-grow: 1;
    }
}



.header {
    padding-top: 77px;
    z-index: 50;
    // position: sticky;
    // top: 0;

    @media (max-width: 29.9988rem) {// 479.98px
        &{
            padding-top: .9375rem;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        column-gap: 7.8125rem;

        @media (max-width: 61.9988rem) {//991.98
            &{
                gap: 3.125rem;
            }
        }

        @media (max-width: 29.9988rem) {// 479.98px
            &{
                flex-direction: column;
                align-items: center;
            }
        }
    }
    &__logo {
        flex: 0 0 5rem;

        & img{
            max-width: 100%;
            min-height: 100%;
        }

        @media (max-width: 29.9988rem) {// 479.98px
            &{
                flex: 0 0 auto;
                max-width: 9.375rem;
            }
        }
        
    }
    &__menu {
    }
}

.menu {
    &__list {
        display: flex;
        gap: 2.5rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 2.5rem;
        row-gap: .3125rem;

        @media (max-width: 61.9988rem) {//991.98
            &{
                column-gap: 1.25rem;
            }
        }
    }
    &__item {
    }
    &__link {
        font-size: 14px;
        color: $linkUnactive;
        transition: color 0.3s;

        &:hover{
            color: $linkActive;
        }

        @media (max-width: 29.9988rem) {// 479.98px
            &{
                font-size: 1.25rem;
                font-weight: 700;
            }
        }
    }
}



.page {
    &__hero {
    }
}

.hero {
    padding-top: 3.875rem;
    padding-bottom: 2.5rem;
    position: relative;
    
    &__container {
        display: flex;


        @media (max-width:75rem) {
            &{
                flex-direction: column;
                row-gap: 1.875rem;
            }
        
        }
        

        &::before,
        &::after{
            content: "";
            position: absolute;
           
            bottom:0;
            height: 150%;
            width: 200vw;
            border-radius: 1.25rem;
           
            transform-origin: left bottom;
            background-color: $primary;
            box-shadow: 0px 30px 60px rgba(71, 74, 87, 0.25);
        }

        &::before{
            left: calc(50% + 20px);
            transform: skewX(-20deg);
        }

        &::after{
            left: calc(50% + 444px);
            transform: skewX(34deg);
        }
    }

    &__content {
        padding-right: 0;

        flex:0 1 50%;
        
        
        
    }
    &__images {
        position: relative;
        z-index: 2;
        flex:0 1 50%;
        
    }
}



.content-hero {

    z-index: 3;
    display: grid;
    align-content: start;
    gap: 1.875rem;
    position: relative;

    @media (min-width: 478.9808px) {//478.98px
        &{
            justify-items: start;
        }
    }

    @media (min-width:75rem) { //1200px
        &{
            padding-right: 1.875rem;
        }
    }

    &__title {
        color: $heading;
        font-size: 4.75rem;
        font-weight: 800;
        line-height: 117.105263%; /* 89/76 */
        letter-spacing: -0.1875rem;

        @media (max-width: 61.9988rem) {
            &{
                font-size: 3.4375rem;
            }
        }

        @media (max-width: 29.9988rem) {
            &{
                font-size: 2.625rem;
            }
        }

        & a{
            color: $primary;
            transition: all 0.3;
            text-shadow: 1px 1px 8px $white;
            
            &:hover{
                text-decoration: underline;
            }
        }

        
    }
    &__text {
        & p{
            line-height: 187.5%; /* 30/16 */

            &:not(:last-child){
                padding-bottom: 2.125rem;
            }
        }
    }
    &__btn {
        display: inline-block;
        padding: 1.125rem 3.375rem;
        background-color: $primary;
        color: $white;
        font-weight: 700;
       
        text-align: center;
        border-radius: .625rem;

        position: relative;
        top: 0;
        transition: all 0.3s;

        &:hover{
            top: 3px;
            box-shadow: 0px 30px 60px 0px rgba(68, 117, 242, 0.5);
        }
    }
}



.images-hero {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 1.6875rem;


    @media (max-width:75rem) {
       
        &{
            align-self: center;
        }
    
    }


    &__item {
        
    }
   
    &__image {
        border-radius: .625rem;
        overflow: hidden;
        box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
        max-width: 100%;
    }
    &__item--01 {
        grid-row: span 2;
        align-self: flex-end;
        padding-bottom: .625rem;
    }
    &__item--02 {
        align-self: flex-start;
       
    }
    &__item--03 {
        grid-row: span 2;
        align-self: center;
        justify-self: flex-end;
        padding-bottom: 1.5625rem;
    }
    &__item--04 {
        align-self: flex-end;
        justify-self: flex-end;
    }
}





footer{
    height: 200px;
}


